<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
    <ion-buttons end>
    <button (click)="showDelete()" danger>
        Delete
      </button>
    </ion-buttons>
    <ion-buttons end>
    <button (click)="edit()">
        Edit
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>
  <ion-card-header>
    {{brand}} {{car.modello}}
  </ion-card-header>
  <ion-card-content>
    <div [innerHTML]="car_content.description" *ngIf="car_content.description">
    </div>
  </ion-card-content>
</ion-card>

<ion-card *ngIf="car_content.year">
<ion-card-header>
  Year
</ion-card-header>
<ion-card-content>
  <div [innerHTML]="car_content.year">
  </div>
</ion-card-content>
</ion-card>

<ion-card *ngIf="car_content.engines">
<ion-card-header>
  Engines
</ion-card-header>
<ion-card-content>
  <div [innerHTML]="car_content.engines">
  </div>
</ion-card-content>
</ion-card>

<ion-card *ngIf="car_content.types">
<ion-card-header>
  Types
</ion-card-header>
<ion-card-content>
  <div [innerHTML]="car_content.types">
  </div>
</ion-card-content>
</ion-card>

<ion-card *ngIf="car_content.dimensions">
<ion-card-header>
  Dimensions
</ion-card-header>
<ion-card-content>
  <div [innerHTML]="car_content.dimensions">
  </div>
</ion-card-content>
</ion-card>

<ion-card *ngIf="car_content.price">
<ion-card-header>
  Price
</ion-card-header>
<ion-card-content>
  <div [innerHTML]="car_content.price">
  </div>
</ion-card-content>
</ion-card>

<ion-card *ngIf="car_content.image">
    <img style="" [src]="car_content.image"/>
  </ion-card>

</ion-content>
